@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
:root {
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --primary: #629dd1;
  --primary-hover: #98bcdb;
  --light-gray: #f8f8f8;
  --secondary: #192024;
  --text-color: #666f77;
  --white: #fff;
  --transition: 0.4s all ease-in-out;
  --text-gray: rgba(255, 255, 255, 0.685);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-weight: 300;
}
h1,
h2 {
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  padding: 10px 40px;
  transition: var(--transition);
  font-size: 1.2rem;
  color: var(--white);
  letter-spacing: 1.5px;
  border-radius: 8px;
}
.blue {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}
.blue:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.transparent {
  background-color: transparent;
  border: 2px solid var(--white);
}
.transparent:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
section {
  padding: 80px 0;
}

/* nav */

nav {
  background-color: var(--white);
  padding: 10px 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container ul {
  display: flex;
  align-items: center;
}
nav .container ul li {
  margin: 0 15px;
  padding: 8px;
}
nav ul li a {
  letter-spacing: 1.5px;
}
nav ul li:hover {
  background-color: var(--primary-hover);
  border-radius: 5px;
}
nav ul li:hover a {
  color: var(--white);
}

nav .container .logo {
  font-size: 1.5rem;
}

/* HEADER */

header {
  background-image: url(images/black-copy-space-background-with-olive-oil_23-2148285985.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header hgroup {
  text-align: center;
  color: var(--white);
}

header hgroup h1 {
  font-size: 3rem;
}
header hgroup h4 {
  margin: 30px 0;
  font-size: 1.8rem;
}
header hgroup h4 span {
  font-weight: 400;
  text-transform: uppercase;
}
header hgroup button {
  margin: 0 20px;
}

/* ABOUT */

.about hgroup {
  text-align: center;
  color: var(--text-color);
}
.about hgroup h2 {
  font-size: 2.3rem;
}
.about hgroup h4 {
  font-size: 1.5rem;
  margin: 30px 0;
}

.about .wrapper {
  display: flex;
  justify-content: space-between;
}
.card {
  flex: 0 0 28%;
  border: 1px solid var(--text-color);
  padding: 20px 30px;
  text-align: center;
}
.card i {
  font-size: 2rem;
  color: var(--white);
  background-color: var(--primary);
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid var(--white);
  box-shadow: 0 0 1px black;
}
.card .text {
  margin: 20px 0;
}
.text h3 {
  font-size: 1.5rem;
}
.text p {
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

/* SLIDER */
.slider {
  background-color: var(--secondary);
  color: var(--white);
  text-align: center;
}

.slider hgroup {
  margin-bottom: 50px;
}
.slider hgroup h2 {
  font-size: 2.4rem;
}
.slider hgroup h4 {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.slide-text {
  margin-top: 25px;
}
.slide-text h4 {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
}
.slide-text p {
  margin: 20px;
  line-height: 1.5;
  font-size: 1.2rem;
}

/* Three */
.three {
  display: flex;
  justify-content: space-between;
}

.three article {
  flex: 0 0 70%;

  padding: 50px 50px 50px 0;
}
.three article h2 {
  font-size: 2.2rem;
}
.three article img {
  width: 100%;
  display: block;
  border-radius: 10px;
  margin: 25px 0;
}
.three article p {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  line-height: 1.8;
}

.three aside {
  flex: 0 0 15%;

  color: var(--primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside h3 {
  font-size: 2.4rem;
}
aside i {
  font-size: 3rem;
  transition: var(--transition);
}

aside i:hover {
  color: var(--text-color);
  transform: rotate(360deg) scale(1.1);
}

/* footer */

footer {
  background-color: var(--secondary);
  padding: 50px 0;
  text-align: center;
  color: var(--white);
}
footer p span {
  padding: 0 20px;
  margin: 0 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
